@model ThoughtBox.App.ViewModels.ThoughtViewModel

<h2 class="col-sm-12 col-lg-12 text-center">What's on your mind?</h2>
<br />
<div class="row">
    <div class="col-sm-12 col-lg-12">
        <form asp-action="AddThought" id="addThoughtForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tags" class="control-label"></label>
                <input asp-for="Tags" class="form-control" />
                <span asp-validation-for="Tags" class="text-danger"></span>
            </div>
            <div class="form-group" id="tagBadges">
            </div>
            <div class="form-group d-flex">
                <input type="submit" value="Add" class="btn btn-primary ml-auto btn-block" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @*<script>
        $.ready = function () {
            $("#Tags").on("keyup", manageTags);
            $("form").submit(submitForm);

            var tags = "";
            var tempTags = [];

            function manageTags(e) {

                if (e.key == ',') {
                    let temp = e.target.value;
                    temp = temp.slice(0, temp.length - 1);
                    temp = temp.trim();
                    tags += temp + ',';
                    tempTags.push(temp);
                    e.target.value = '';

                    temp = '<span class="badge badge-dark ml-1">' + temp + '</span>';
                    $("#tagBadges").append(temp);
                }
            }

            function submitForm(e) {
                e.preventDefault();
                tags = tags.slice(0, tags.length - 1);
                $("#Tags").val(tags);
                $(this).unbind('submit').submit();
            }
        };
    </script>*@
}
